.mobile {
  position: relative;
  background-color: #343a40;
  height: 70px;
  padding: 10px;
  width: 100%;

  @media screen and (min-width: 768.98px) {
    display: none;
  }

   
}

.navWrapper {
  position: absolute;
  z-index: 50;
  top: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;

  gap: 20px;
  background-color: #343a40;
  border-top: 2px solid black;
  
}

 .logo {
   width: 100px;
 }

.li {
  text-decoration: none;
  color: white;

  &:hover,
  &:focus {
    color: #ffc107;
  }
}

.active {
 
  border-bottom: 2px solid #ffc107;
}

.burger {
  position: absolute;
  right: 5%;
  top: 24%;
  cursor: pointer;
}
