// $bg-color:
// $accent-color: 
// $text-color:

$primary-fontfamilly:  'Roboto Slab';
$primaryColor: #FFFFFF;

$title-ff: 'Montserrat';
 $title-fontwght: 800;
 $titleColor: #e1ba62;

$subtitleFontF: 'Open Sans';
$subtitleFontW: 500px;


$secondColor: blue;
$primary-fontwght: 400px;
$primary-fontSize: 19px;
          
                                   
:export{
    font-family: $primary-fontfamilly;
    color: $primaryColor;
    color: $secondColor;
    font-weight: $primary-fontwght;
    font-size:$primary-fontSize;
}