@import '../../sass/utils/variables';



.hero {
  position: relative;
  // height: 100vp;
  width: 100vw;
  
  
  video {
    // position: absolute;
display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.overlay {
position: relative; 

&::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        object-fit: cover;
        z-index: 10;
    }
 
}

.content {
  position: absolute;
      display: inline-block;
  color: white;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    z-index: 20;
    font-family: auto;
    font-weight: 500;
    
text-align: center;
width: 100%;

@media screen and (min-width: 1200px){
  font-size: 40px;
}
}

.curlySpan {

&:before {
    content: "{";
    font-size: 40px;
    color: #ffc107;
  }

  &:after {
    content: "}";
    font-size: 40px;
    color: #ffc107;
        margin-left: 10px;
  }
}

.equalSpan{
  &:before {
      content: "=>";
      font-size: 30px;
      color: #ffc107;
      margin-right: 10px;
    }
}

.heroDesc{
 
      margin-top: 10px;
  font-family: $primary-fontfamilly;
  font-weight: $primary-fontwght;
      font-size: $primary-fontSize;

      @media screen and (min-width: 1200px) {
          font-size: 25px;
          padding: 10px 0;
        }
}

.descWrap{
 
}
