@import "../../sass/utils/variables";

.section {
}

.skillsTitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: $title-fontwght;
  color: $titleColor;

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media screen and (min-width: 1200px) {
    padding: 20px;
  }
}

.skillsItems {
  width: 100px;
  transition: transform 0.8s;

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.skillsText {
  font-size: $primary-fontfamilly;
}
