@import '../../sass/utils/variables';

.section {
    border: 2px solid brown;
    padding: 10px 15px 10px 15px;
}

.skillsTitle{
    text-align: center;
    margin-bottom: 10px;
}

.skillsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skillsItems{
    width: 100px;
}
