@import '../../sass/utils/variables';

.section {
    padding: 10px 15px;
display: flex;
    flex-direction: column;
    justify-content: center;
        text-align: center;
   
}

.resumeTitle{
        margin-bottom: 15px;
        font-weight: $title-fontwght;
        color: $titleColor;
}

.linkButton {
    display: inline-block;
    background-color: #ffc107;
    border: none;
    color: darkblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;

}