@import "../sass/utils/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  gap: 20px;

  &::before {
    margin-right: 16px;
    background-image: ("../../assets/images/pngwing.com.png");
  }

  @media screen and (max-width: 777.98px) {
    display: none;
  }

  @media screen and (min-width: 1199.98px) {
    background-color: inherit;
  }
}
.active {
  background-color: #ffc107;
  border-radius: 8px;
  padding: 6px;
}

.logo {
  width: 100px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 479.98px) {
    width: 480px;
  }

  @media screen and (min-width: 777.98px) {
    width: 780px;
  }

  @media screen and (min-width: 1199.98px) {
    width: 1200px;
  }
}

.navLinkWrapper {
  display: flex;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    gap: 120px;
  }
}
