@import-normalize;

.header{
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;

    &::before {
            margin-right: 16px;
            background-image: ("../../assets/images/pngwing.com.png");
        }

    @media screen and (max-width: 767.98px) {
            display: none;
        }

@media screen and (min-width:768px) {
  
        width: 768;
    }
    
}
.active {
    background-color: #ffc107;
        border-radius: 10px;
}

.logo {
    width: 100px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 470px){
        width: 470px;
    }

        // @media (max-width: 767.98px) {
        // width: 768px;
        // }


        // @media (max-width: 1199.98px) {
        // width: 1200px;
        // }
}



