@import '../../sass/utils/variables';

.section {
     padding: 10px 15px;
}

.flexWrapper {
   
}

.expTitle{
text-align: center;
    margin-bottom: 20px;
    font-family: $title-ff;
    color: $titleColor;
    font-weight: $title-fontwght;
}

.expSubtitle{
        margin-bottom: 10px;
        font-family: $subtitleFontF;
}

.projectCard {
margin-bottom: 10px;
    padding-top: 5px;
        padding-bottom: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkButton{
            background-color: #ffc107;
           
            border: none;
            color: darkblue;;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 4px;
            font-size: 16px;
  
}

.img {
                margin-bottom: 10px;
                height: 118px;
}

.expDiscription {
    font-family: $primary-fontfamilly;
    font-weight: $primary-fontwght;
    font-size: $primary-fontSize;
        margin-bottom: 10px;
}

.expTechDiscription{
    margin-bottom: 10px;
}